.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 2rem;
    margin: 0 40px;
}

.low {
    animation: slideDown 1000ms ease-in-out forwards;
}

.top {
    animation: backTop 1000ms ease-in-out forwards;
}

@keyframes backTop {
    0% { opacity: 0; top: 0}
    100% {opacity: 1; top: 0}
}

@keyframes slideDown {
    0% {opacity: 0; top: calc(60vh + 50px + 20px)}
    100% { opacity: 1; top: calc(60vh + 50px + 20px)}
}

.navLinks{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    white-space: nowrap;
}

.navLinks>* { 
    text-decoration: none;
    padding: 0 15px;
    color: rgb(216, 216, 216);
}
.navLinks>*:hover {
    text-decoration: underline;
}

.languageContact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.languageContact > * {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.gmailTooltip, .facebookTooltip, .instagramTooltip{
    visibility: hidden;
    top: 120%;
    min-width: 130px;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    /* display: none; */
    position: absolute;
    color: black;
    font-size: 0.8rem;
}
.gmail, .facebook, .instagram {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
}

.gmail:hover, .facebook:hover, .instagram:hover {
    background-color: rgb(86, 86, 86);
}

.gmail:hover .gmailTooltip,
.facebook:hover .facebookTooltip,
.instagram:hover .instagramTooltip {
    visibility: visible;
}


.languages {
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.languages > * {
    width: 50px;
    text-align: center;
}

.languages > div:nth-child(2) {
    border-left: 2px solid white;
}

.languages > div:hover {
    text-decoration: underline;
}


.active {
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding: 0 15px;
}


@media screen and (max-width: 576px) {
    .navLinks{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: absolute;
    }
    
    @keyframes slideDown {
        0% {opacity: 0; top: calc(30vh + 50px + 20px)}
        100% { opacity: 1; top: calc(30vh + 50px + 20px)}
    }

    .navLinks.top > a:nth-child(n+2):not(:nth-child(n+7)) {
        display: none;
    }

    @keyframes backTop {
        0% { opacity: 0; top: 0px}
        100% {opacity: 1; top: 0px}
    }
}


@media screen and (max-width: 1100px) {
    .navLinks{
        position: absolute;
        /* top: 500px; */
        width: 85vw;
        transform: translateY(70px);
        font-size: 1.5rem;
    }
}