.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.movingElements {
    position: relative;
    z-index: 1;
    transition: 1000ms ease-in-out;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
}

.low {
    top: calc(60vh + 50px + 20px); /* Hero is 60vh, Navbar is 50px, extra 20px */
}

.top {
    top: 0;
    transition-delay: 300ms;
}

.navLinks{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 40px;
    width: 70%;
}

.navLinks>* { 
    text-decoration: none;
    padding: 0 15px;
    color: rgb(216, 216, 216);
}
.navLinks>*:hover {
    text-decoration: underline;
}

.contactLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contactLinks > * {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contactLinks > *:hover {
    background-color: rgb(86, 86, 86);
}

.gmailTooltip{
    visibility: hidden;
    top: -150%;
    left: -160%;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* display: none; */
    position: absolute;
}
.gmail {
    position: relative;
    cursor: pointer;
}
.gmail:hover .gmailTooltip {
    visibility: visible;
}


.languages {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 40px;
    margin-right: 20px;
}

.languages > button {
    width: 50px;
    height: 40px;
    font-size: 2rem;
}


.active {
    font-weight: 900;
    color: white;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    padding: 0 15px;
}