.aboutWrapper{
    margin: 100px;
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
}

.title {
    font-size: 3rem;
    margin: 50px 0 20px;
}

div.paragraph {
    margin: 30px 0;
}

.item {
    display: flex;
    margin: 20px 0;
}

.dates {
    min-width: 150px;
    text-align: center;
}