.heroContainer {
	position: absolute;
	width: 100%;
	height: 60vh;
    transition: 1000ms;
}

.heroImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
	/* object-position: center center; */
}

.maggy {
    position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	color: white;
	font-size: 5rem;
}

.show {
	filter: blur(0px) opacity(1);
    position:absolute;
    transition-delay: 300ms;
}

.hide {
	filter: blur(5px) opacity(0);
    position: absolute;
}

